.admin {
  display: flex;
  background-color: #F5F5F5;
  flex: 1;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.admin .forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  /*   justify-content: center;
  gap: 10rem;
  padding: 3rem; */
}