.cart {
  display: flex;
  background-color: #F5F5F5;
  flex: 1;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.cart h2 {
  text-align: center;
  font-size: 2.3rem;
}

.cart h4 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.cart img {
  width: 10vw;
  height: 20vh;
}

.cart button {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.cart .container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cart .total {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  width: 20%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: fit-content;
}

.cart .total b {
  font-size: 1.3rem;
}

.cart .total p {
  font-size: 1.8rem;
  font-weight: bold;
  /* color: red; */
}

.cart .total button {
  background-color: #3F2305;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin-top: 0.5rem;
}

.cart .products {
  width: 60%;
}

.cart .product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  width: 80%;
  height: 200px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

/* .cart .product:last-of-type {
  margin-bottom: 0;
} */

.cart .product-info {
  text-align: left;
}

.cart .txtRed {
  color: red;
}