.catalog {
  display: flex;
  background-color: #F5F5F5;
  flex: 1;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.catalog h2 {
  text-align: center;
  font-size: 2.3rem;
}

.catalog .container {
  width: 80%;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.catalog .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  justify-items: center;
}

.catalog .categories {
  text-align: center;
  margin-bottom: 2rem;
}

.catalog .categories button {
  background-color: #3F2305;
  color: white;
  font-size: 0.8rem;
  width: fit-content;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.catalog .categories input {
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 12rem;
}