.simple-coupon {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  padding: 1.8rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.simple-coupon i {
  font-size: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}