* {
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

img {
  max-width: 100%;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.192);
}

button,
input {
  font-family: "Titillium Web", sans-serif;
}

button:hover {
  cursor: pointer;
}